if TARGET_FANCOM_HMI

config SYS_BOARD
        default "hmi"

config SYS_VENDOR
        default "fancom"

config SYS_SOC
        default "bcm283x"

config SYS_CONFIG_NAME
        default "hmi"

config RPI_EFI_NR_SPIN_PAGES
	int "Spin table page count"
	default 1
	help
	  Number of pages to reserve starting at page 0 for spin tables in the EFI
	  memory map

endif
